TOKEN = "Your token"

RM_HOST = 192.168.12.129

RM_PORT = 22

RM_USER = sasorokin

RM_PASSWORD = Qq123456

DB_USER = botuser

DB_PASSWORD = 12345

DB_HOST = db

DB_PORT = 5432

DB_DATABASE = telegrambot

DB_REPL_USER = botuser

DB_REPL_PASSWORD = 12345